.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

.section {
  margin-top: 2rem;
}

.loading {
  filter: blur(20px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.8s ease-in-out;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 5rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}